.authHeader {
  width: 50vw;
  height: 100vh;
  background-color: black;
  color: var(--white-color);
}

.content {
  height: calc(100% - 60px);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.author {
  font-size: 0.75rem;
  padding: 5px 0px 0px 0px;
}

/* Media Query for low resolution  Tablets, Ipads */
@media (max-width: 767px) {
  .authHeader {
    width: auto;
    height: auto;
    background-color: var(--white-color);
    color: var(--black-color);
    border-bottom: 1px solid var(--border-color);
  }
  .content {
    padding: 10px;
  }
  .message {
    display: none;
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
}
