.textInput {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  font-size: 15px;
  width: 100%;
  box-sizing: border-box;
}

.textInput:focus {
  outline: 1px solid var(--border-focus-color);
}
