@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --black-color: #18181b;
  --white-color: white;
  --border-color: #e1e1e3;
  --border-focus-color: #bebebe;
  --grey-text: #8e8e8e;
}

a {
  text-decoration: none;
}

* {
  margin: 0px;
  padding: 0px;
}

.greyText {
  color: var(--grey-text);
  font-size: 15px;
}
