.dashBoard {
    padding: var(--page-padding);
    display: flex;
    flex-direction: column;
    gap: var(--h-gap);
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: var(--v-gap);
}

.stats {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

.recentSales {
    padding: var(--page-padding);
}

.list {
    overflow: scroll;
    /* height: 25vmax; */
}

.userItem {
    display: flex;
    padding-top: var(--h-gap);
    padding-bottom: var(--h-gap);
    justify-content: space-between;
    align-items: center;
}

.userItemDetails {
    gap: var(--v-gap);
    display: flex;
}

@media (max-width: 767px) {
    .cards {
        overflow: scroll;
        justify-content: flex-start;
    }

    .stats {
        grid-template-columns: repeat(1, 1fr);
    }

}